.swiper{
	width: 100%;
	height: 440rpx;
}

/* 热门电影 s */
.hot-movie{
	margin-top: 12rpx;
	padding: 20rpx;
}

.hot-wrapper{
	display: flex;
	margin-bottom: 8rpx;
}
.hot-wrapper image{
	width: 40rpx;
	height: 40rpx;
	margin-top: 8rpx;
}
.hot-title{
	font-size: 20px;
	font-weight: bold;
	margin-left: 15rpx;
}
.hot-swiper{
	white-space:nowrap ;
}
.hot{
	width: 100%;
	white-space: nowrap;
}
.hot-movie-content{
	display: inline-block;
	margin-left: 20rpx;
}
.single-movie{
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
}
.single-movie-img{
	width: 200rpx;
	height: 266rpx;
}
.movie-name{
	width: 200rpx;
	font-size: 14px;
	margin-top: 5rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

/* 热门电影 e */

/* 热门预告s */
.hot-trailer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20rpx;
}
.hot-trailer-single{
	width: 350rpx;
	height: 220rpx;
}
/* 热门预告e */

/* 猜你喜欢s */
.guess-single{
	display: flex;
	flex-direction: row;
	padding: 10rpx 20rpx;
	justify-content: space-between;
}
.guess-img{
	width: 200rpx;
	height: 266rpx;
}
.guess-content{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	width: 300rpx;
}
.guess-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.guess-info{
	font-size: 14px;
	color: #8a8a8a;
}

.guess-praise{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150rpx;
	border-left: 2px dashed #bfbfbf;
}
.praise-icon{
	width: 40rpx;
	height: 40rpx;
}
.praise-name{
	font-size: 14px;
	color: #fcb914;
}
.praise-animation{
	font-weight: bold;
	opacity: 0;
}
/* 猜你喜欢e */